# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/cheesecloth
/cheesecloth-*

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Misc
*.tmp
*.sha256sums

# Debian package build artifacts
/debian/build/
/debian/.gocache/
/debian/cheesecloth/
/debian/files
/debian/*.substvars
/debian/*.debhelper
/debian/*.debhelper.log
/debian/debhelper-build-stamp
